:root {
  font-size: 14px;
}

*{
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, "Consolas", Monospace;
}

.grid {
  display: grid;
  margin: 1rem 0;
  overflow-x: auto;
}
.grid-5 {grid-template-columns: repeat(5, 1fr);max-width: 700px;}
.grid-4 {grid-template-columns: repeat(4, 1fr);max-width: 600px;}
.grid > span {padding: 1rem; align-self: baseline;}
.grid > span.header {font-weight: bold; border-bottom: 2px solid #eee;}
.grid > span.cell {white-space: pre;}
